---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header/Header.astro"
import Skills from "../components/Skills/Skills.astro"
import Projects from "../components/Projects/Projects.astro"
import Footer from "../components/Footer/Footer.astro"
---

<Layout>
  <Header />
  <main class="flex flex-col gap-16 px-4">
    <Skills />
    <Projects />
  </main>
  <Footer />
</Layout>
