---
interface Props {
  title: string
  href: string
}

const { href, title } = Astro.props
---

<a
  aria-label={title}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex rounded-full bg-gradient-to-tr from-primary-200 to-secondary-100 p-3 outline-none transition-all duration-300 hocus:from-secondary-300 hocus:to-secondary-300 hocus:text-white dark:from-primary-300/90 dark:to-secondary-200/90 dark:text-normal-800"
>
  <slot />
</a>
