---
import ContactLink from "./ContactLink.astro"
import LinkedInIcon from "../icons/LinkedInIcon.astro"
import GitHubIcon from "../icons/GitHubIcon.astro"
import LinktreeIcon from "../icons/LinktreeIcon.astro"
---

<ul role="list" aria-label="Contacts" class="flex flex-row justify-center gap-6">
  <li>
    <ContactLink title="LinkedIn" href="https://www.linkedin.com/in/zanaflander">
      <LinkedInIcon />
    </ContactLink>
  </li>
  <li>
    <ContactLink title="GitHub" href="https://github.com/flanzana">
      <GitHubIcon />
    </ContactLink>
  </li>
  <li>
    <ContactLink title="Linktree" href="https://linktr.ee/flanzana"><LinktreeIcon /></ContactLink>
  </li>
</ul>
