<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Žana Flander</title>
    <meta name="author" content="Žana Flander" />
    <meta
      name="description"
      content="Hi, I am Žana Flander, a frontend developer with 4+ years of work experience who is passionate about designing and building websites and web applications."
    />
  </head>
  <body class="mx-auto bg-white font-sans text-normal-700">
    <slot />
  </body>
</html>
